body {
    font-family: Arial, sans-serif;
    background-color: #F4F7F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 2rem;
    color: #2ca350;
}

